<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yey.kindergaten"
    android:installLocation="auto"
    android:versionCode="97"
    android:versionName="1.085" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <!-- 用于显示系统窗口 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_SATET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 分割线 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--<permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >-->
    <!--</permission>-->
    <!-- 获取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" >
    </uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 以下个推必须的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="getui.permission.GetuiService" />

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService.com.yey.kindergaten"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SplashActivity -->
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/startTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.SendNotify_MsgHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendNotify_SelContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendNotify_SelectMoban"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.LifeWorkPhoto"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MediaPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".activity.IdSafeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IdSafeActivityChange"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IdSafeActivityAmend"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateIdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ServiceFriendsterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PublicAccountMessageList"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.PublicAccountHistoryMessageList"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ServiceFriendsterFindActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceScheduleActorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceScheduleWriteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ServiceScheduleRemindActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ServiceScheduleComments"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.CommonBrowser"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ServiceGetgroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.BindPhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.GrowthDiaryMoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ServiceShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 不要和我wo的写一起 -->

        <activity
            android:name=".activity.ContactsAddFriendActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ContactsAddFriendResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.GetSDCardAlbumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.SelectPhotoActivityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePointExchangeSureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ContactsFriendRequestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".activity.ContactsAddPuacResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ContactsPuacDatacardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ContactFriendDatacardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePublishSpeakActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceTaskMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceTaskNameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePointExchangeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePointExchangeFillInforActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceAddressBookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePointexchangeHisActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServicePointexchangeExplainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".activity.ContactsParentList"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.GetAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.FriendsterShowImage"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceTaskBookPuacActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceCreatKinderSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ServiceAddKinderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceSreachKinderResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.MeAboutUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.MeSetAddKinderCodeAvtivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceCreateKinderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".activity.ServiceCreateKinderSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceCompleteInformationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceKinderInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceGroupMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceSelectGradeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceCodeCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceSelectAdrressBookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceAllAdrressBookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity android:name=".activity.SelectRoleActivity" />
        <activity
            android:name=".activity.GrowthDiaryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.KeepDiaryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ServiceCreatGroupExplainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.MeOpinionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ChatLookPictureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 不要和我的写一起 -->
        <activity android:name=".activity.LoginActivity" android:launchMode="singleTop" />
        <!-- 二维码 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <!-- 二维码结束 -->
        <!-- 注册 -->
        <activity android:name=".activity.CreateNickActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ClassPhotoMainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ClassPhotoCreateAlbum"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ClassPhotoDetialManager"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ServiceLifePhotoMainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.BatchLifePhotoActivity" />
        <activity android:name=".activity.SelectChildLifePhotoActivity" />
        <activity
            android:name=".activity.UploadImageActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LifeWorkManagerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.ChatActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.VoiceCallActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.ShowBigImage"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"/>
        <activity
            android:name="com.yey.kindergaten.huanxin.Activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.yey.kindergaten.activity.PhotoShowActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard" />
        <activity
            android:name="com.yey.kindergaten.activity.PhotoShowGeneralActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard" />
        <activity
            android:name="com.yey.kindergaten.activity.WizardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="com.yey.kindergaten.activity.MeModifyKinderActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="com.yey.kindergaten.activity.ClassesInviteActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
        android:name="com.yey.kindergaten.activity.KindergatenCardActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop" />
        <activity
            android:name="com.yey.kindergaten.activity.ClassesCardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="com.yey.kindergaten.activity.ServiceItemShowActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.fragment.PuacActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.activity.TeacherActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.activity.ParentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yey.kindergaten.activity.PayResultActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />

        <activity android:name="com.yey.kindergaten.activity.GalleryActivity"/>

        <activity android:name="com.yey.kindergaten.activity.GalleryFolderActivity"> </activity>

        <activity android:name=".cropimage.CropImage" android:launchMode="singleTop"/>

        <activity android:name="com.yey.kindergaten.activity.PreMediaPlayerActivity" android:launchMode="singleTop"/>

        <activity android:name="com.yey.kindergaten.activity.classvideo.ClassVideoActivity" />

        <activity android:name="com.yey.kindergaten.activity.classvideo.ShowLocalVideoActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|stateUnchanged" />

        <activity android:name="com.yey.kindergaten.activity.classvideo.VideoNewActivity"/>
        <activity android:name="com.yey.kindergaten.activity.classvideo.VideoActivity"/>
        <activity android:name="com.yey.kindergaten.activity.classvideo.InputInfoActivity"/>
        <activity android:name="com.yey.kindergaten.activity.LeaveSchoolActivity"/>
        <activity android:name="com.yey.kindergaten.activity.LeftSchoolActivity"/>

        <activity android:name="com.yey.kindergaten.cropimage.ClipPictureActivity" android:launchMode="singleTop"/>


        <!-- 自定义的service -->
        <service android:name=".task.MainService" > </service>
        <service android:name=".service.UploadVideoService"/>
        <service android:name="com.yey.kindergaten.activity.classvideo.UploadService"/>
        <uses-library android:name="android.test.runner" /> <!-- 个推SDK配置开始 -->
        <!-- 个推SDK配置开始 -->
        <!--
        配置的第三方参数属性
        测试 AppID  q37hAa9H61AhuZMUcAKLe  AppKey SRhND8DZPC8KTAIXHPZSw7   APPSECRET XhBsLfjvwo7DtRETECsdb7
        正式 AppID  KM6nSwzkbvAMZLbQyMI8U1 AppKey NR0rcXIaYZ7MS4lbJGJVr1   APPSECRET gYLWg4kp4K9mvvGrtPdXR2
        -->
        <!-- 正式 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="KM6nSwzkbvAMZLbQyMI8U1" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="gYLWg4kp4K9mvvGrtPdXR2" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="NR0rcXIaYZ7MS4lbJGJVr1" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

        <!-- 测试
        <meta-data
            android:name="PUSH_APPID"
            android:value="q37hAa9H61AhuZMUcAKLe" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="XhBsLfjvwo7DtRETECsdb7" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="SRhND8DZPC8KTAIXHPZSw7" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
          -->
        <!--正式
                       <action android:name="com.igexin.sdk.action.KM6nSwzkbvAMZLbQyMI8U1" />
                       -->
        <!-- 测试   <action android:name="com.igexin.sdk.action.q37hAa9H61AhuZMUcAKLe" />-->
        <receiver
            android:name=".receive.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.KM6nSwzkbvAMZLbQyMI8U1" />
            </intent-filter>
        </receiver>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.KM6nSwzkbvAMZLbQyMI8U1" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.yey.kindergaten"
            android:process=":pushservice" />

        <!-- android:authorities="downloads.第三方包名" -->
        <!-- ====================================================== -->
        <receiver android:name=".receive.ServiceScheduleRecevier" />

        <service
            android:name=".service.ScheduleServiceUnbind"
            android:enabled="true"
            android:process="system" />
        <service
            android:name="com.yey.kindergaten.service.HuanxinService"
            android:enabled="true"/>
        <service
        android:name="com.yey.kindergaten.service.ContactsService"
        android:enabled="true"/>

        <service
            android:name="com.yey.kindergaten.service.UploadPhotosService"
            android:enabled="true"/>

        <!-- 统计   测试 548e9770fd98c50cc000100e   正式 53d9a9cefd98c57a7b015d72 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53d9a9cefd98c57a7b015d72" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name=".activity.NotifyShowMbConActivity" />
        <service android:name=".service.NetCheckService" />
        <!-- 分享 -->
        <!-- 微信分享需要注册该activity -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <!--<data android:scheme="tencent100371282" />-->
                <data android:scheme="wxdcc245ed8aee4963"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 分享结束 -->

        <!-- 支付开始 -->
        <activity
            android:name=".activity.OpenHealthServicesActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxdcc245ed8aee4963"/>
            </intent-filter>
        </activity>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <!-- alipay sdk end -->
        <!-- wechat sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <receiver
            android:name=".pay.wechat.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- wechat sdk end -->
        <!-- 支付结束 -->

        <!-- 开机启动的service -->
        <!--
        <receiver android:name="com.yey.kindergaten.receive.BootCompletedReceiver"
             android:enabled="true"
            android:exported="true"
            
             android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.yey.kindergaten.service.ServiceBoot" >    
             <intent-filter> 
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter> 
        </service>
        -->
        <activity android:name=".activity.PhotoManager_ViewPager" />
        <activity
            android:name=".activity.Invite_add_Activity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.JoinClassActivity"
            android:label="@string/title_activity_join_class" >
        </activity>
        <activity
            android:name=".activity.Invite_select_Activity"
            android:label="@string/title_activity_invite_select_" >
        </activity>
        <activity android:name=".activity.GrowRecoringActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"/>
        <!--AppMote Activities-->
        <activity
            android:name="com.youtest.appmote.activity.AppMoteReportProblemActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:process="com.youtest.appmote.report">
        </activity>
        <meta-data android:name="EASEMOB_APPKEY"  android:value="4006011063#sgs" />
        <!-- 设置环信应用的appkey -->
        <!-- 环信的appkey
       <meta-data
           android:name="EASEMOB_APPKEY"
           android:value="4006011063#tetst" />-->
       <!-- Required SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />
    </application>


</manifest>
